.Rproj.user
.Rhistory
.RData
.Ruserdata


*.pdf
*.png
*.csv
*.jpg
*.xlsx
*.html
*.zip
*.kml
*.xml
*.docx

PamehacBrook_Restoration_Kristin_Loughlin.docx
Rcode_archive/
figs_KristinLoughlin/
scratch_pad_gmultmix.R
